@{
    ViewData["Title"] = "Books";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <img src="https://i.ibb.co/F6syq4w/Sk-rmbild-2022-04-06-133602.png" alt="Index">
    <p>Tänkt design ovan</p>
</div>
