@{
    ViewData["Title"] = "Login";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">
    <img src="https://i.ibb.co/890yyDD/Sk-rmbild-2022-04-06-133720.png" alt="Index">
    <p>Tänkt design ovan</p>
</div>
